[package]
name = "app"
version = "0.1.0"
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
edition = "2021"
rust-version = "1.77.2"

[lib]
name = "app_lib"
crate-type = ["staticlib", "cdylib", "rlib"]

[build-dependencies]
tauri-build = { version = "2.5.3", features = [] }

[dependencies]
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }
tauri = { version = "2.0.0", features = [] }
tauri-plugin-cli = "2.0.0" # ADDED this
tauri-plugin-fs = "2.0.0"
tauri-plugin-shell = "2.0.0" # For open_external_url
base64 = "0.22.1"
parking_lot = "0.12.3"
image = "0.25.1"
