# FILE: .github/workflows/build.yml

name: Build Standalone UnixCapTool

on:
  push:
  # workflow_dispatch:

env:
  QT_VERSION: "6.8.0"

jobs:
  build-linux:
    name: Build Static (Linux)
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Free up runner disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          dotnet: true
          android: true
          haskell: true
          large-packages: true
          docker-images: true 
          swap-storage: true

      - name: Build Static Qt 6 (Linux)
        id: qt-static
        uses: ./.github/actions/build-qt-linux
        with:
          version: ${{ env.QT_VERSION }}
          dir: ${{ runner.temp }}/Qt-static
          submodules: "qtbase,qtimageformats,qtwayland"
          configure-args: "" # Add any extra args here, e.g. -no-pch

      - name: Build unixcaptool (Linux)
        working-directory: ./packages/unixcaptool
        run: |
          ${{ steps.qt-static.outputs.dir }}/bin/qmake6 \
            "QT_INSTALL_DIR=${{ steps.qt-static.outputs.dir }}" \
            build.linux.pro
          make
      
      - name: Upload Linux Artifact
        uses: actions/upload-artifact@v4
        with:
          name: unixcaptool-linux
          path: packages/unixcaptool/unixcaptool

  build-macos:
    name: Build Static (macOS)
    runs-on: macos-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Static Qt 6 (macOS)
        id: qt-static
        uses: ./.github/actions/build-qt-macos
        with:
          version: ${{ env.QT_VERSION }}
          dir: ${{ runner.temp }}/qt-static-macos
          submodules: "qtbase,qtimageformats"

      - name: Build unixcaptool (macOS)
        working-directory: ./packages/unixcaptool
        run: |
          ${{ steps.qt-static.outputs.dir }}/bin/qmake \
            "QT_INSTALL_DIR=${{ steps.qt-static.outputs.dir }}" \
            build.darwin.pro
          make

      - name: Upload macOS Artifact
        uses: actions/upload-artifact@v4
        with:
          name: unixcaptool-macos
          path: packages/unixcaptool/unixcaptool
