name: Build on Linux

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential libgl1-mesa-dev libxkbcommon-x11-dev libpulse-dev libasound2-dev libxcb1-dev libxcb-image0-dev libxcb-keysyms1-dev libxcb-render-util0-dev libxcb-xinerama0-dev libxcb-icccm4-dev libxcb-randr0-dev libx11-xcb-dev libdbus-1-dev

    - name: Build static Qt
      run: |
        chmod +x scripts/build-static-qt.sh
        ./scripts/build-static-qt.sh
      working-directory: ./packages/unixcaptool

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=$(pwd)/build/.qt -DCMAKE_EXE_LINKER_FLAGS="-static"
      working-directory: ./packages/unixcaptool

    - name: Build
      run: cmake --build build
      working-directory: ./packages/unixcaptool

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: unixcaptool-linux
        path: packages/unixcaptool/build/src/unixcaptool