name: Build on macOS

on:
  push:

jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v3

    - name: Install Qt
      run: brew install qt@6

    - name: Configure CMake
      run: cmake -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_PREFIX_PATH=$(brew --prefix qt@6)
      working-directory: ./packages/unixcaptool

    - name: Build
      run: cmake --build build
      working-directory: ./packages/unixcaptool

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: unixcaptool-macos
        path: packages/unixcaptool/build/src/unixcaptool
