name: Build macOS

on:
  workflow_dispatch:
  # push:
    
jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Qt and dependencies
      run: |
        brew update
        brew install cmake
        brew install qt

    - name: Setup Qt environment
      run: |
        echo "QT_PATH=$(brew --prefix qt)" >> $GITHUB_ENV
        echo "$(brew --prefix qt)/bin" >> $GITHUB_PATH

    - name: Verify Qt installation
      run: |
        qmake --version
        which macdeployqt

    - name: Make build script executable
      run: chmod +x packages/capturekit/PKGBUILD

    - name: Run build script
      working-directory: packages/capturekit
      run: bash ./PKGBUILD

    - name: Create distribution zip
      working-directory: packages/capturekit
      run: |
        if [ -d "dist" ]; then
          mv dist capkit-macos
          zip -r capkit-macos.zip capkit-macos
        else
          echo "dist directory not found, skipping zip."
          exit 1
        fi

    - name: Upload dist artifact
      uses: actions/upload-artifact@v4
      with:
        name: capkit-macos
        path: packages/capturekit/capkit-macos.zip